html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.box {
  width: 300px;
  height: 300px;
}
.bg_danger {
  background-color: red;
}
.position_absolute {
  position: absolute;
}
.position_relative {
  position: relative;
}
.line {
  background-color: purple;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translatex(-50%);
  width: 20px;
  height: 100%;
}
.line2 {
  background-color: red;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translatex(-50%);
  width: 10px;
}
.line_three {
  background-color: red;
  width: 10px;
  height: 100%;
}
.line_two {
  background-color: blue;
  width: 10px;
  height: 100%;
}
.line_one {
  background-color: red;
  width: 10px;
  height: 100%;
}
.circle1 {
  background-color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  top: 0;
}
.circle2 {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  bottom: -15px;
}
.circle3 {
  background-color: pink;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  top: -15px;
}
.circle4 {
  width: 30px;
  height: 30px;
  background-color: pink;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  bottom: -15px;
}
.circle5 {
  background-color: green;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  top: -15px;
}
.circle6 {
  width: 30px;
  height: 30px;
  background-color: green;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  bottom: 0;
}
.slider_value2 {
  height: 500px;
  width: 500px;
  position: relative;
}
.img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  margin: auto;
}
.img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: green;
  margin: auto;
}
.img3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: pink;
  margin: auto;
}

.image_conatiner {
  background: blue;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  border-radius: 7px;
  height: 560px;
  width: 560px;
}
